* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 25px;
}

body{
    font-family: Parkinsans, sans-serif;
    text-align: center;

}

section {
    padding: 70px 0;
}